@import "../../node_modules/bootstrap/scss/bootstrap";

$body-color: #ededee;
$color-primary:#1B3147;
$cell-color-positive: green;
$cell-color-negative: #f56747;
$card-size: 300px;
$container-width-desktop:940px;
$container-width-tablet:640px;
$container-width-mobile:100%;


.btn{
    height: 44px;
    width: 260px;
    border: 1px solid $color-primary;
    border-radius: 22px;
    background-color: transparent;
    color: $color-primary;
}
#content{
    padding: 20px;
    background: $body-color;
    margin: 30px auto;
    width: 100%;
}
.container-grid{
    margin: 0 auto 30px;
    width: $container-width-mobile;
     @include media-breakpoint-up(md) { 
        width: $container-width-tablet;
    }
    @include media-breakpoint-up(lg) { 
        width: $container-width-desktop;
    }
    @include media-breakpoint-up(xl) { 
        width:$container-width-desktop;
    }
}
.card{
    margin: 0 auto 30px;
    width: $card-size;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1), 0 1px 11px 0 rgba(0,0,0,0.12);
    
}
.card-header{
    height: 150px;
    overflow: hidden;
    border: 0;
    padding: 0;
    &:first-child {
        border-radius: 0;
    }
    img{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
.card-body{
    h5.card-title{
        font-size: 24px;
        display: inline-block;
        width: 90px;
    }
    p{
        font-size: 18px;
    }
    h4{
        display: inline-block;
    }
    .icons{
        float: right;
        width: 50px;
        height: 50px;
    }
    .btn{
        float: left;
    }
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            margin: 0;
            padding: 0;
            
            h4{
                padding-left: 20px;
            }
            span{
                margin: 0 10px;
                font-size: 18px;
                color: #2fc092;
                font-weight: bold;
            }
            em{
                margin: 0 10px;
                color: #ff6e6e;
                float: right;
            }
            .btn-primary{
                margin: 20px 0 10px;
            }
        }
    }
}

//stickers
.sticker{
    display: inline-block;
    margin: 0 0px 0 -50px;
    width: fit-content;
    font-style: italic;
    height: auto;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    padding: 5px 10px;
}
.sell{
    background-color: $cell-color-negative;
    box-shadow: grey -5px 1px 6px -3px;
    text-shadow: wheat 1px 1px 1px; 
}
.buy{

    color: white;
    background-color: $cell-color-positive;
    box-shadow: grey -5px 1px 6px -3px;
    text-shadow: #464645 1px 1px 1px;
    padding: 5px 10px;

}